.main-div {
    text-align: center;
}
.pokemon-div {
    display: inline-block;
    padding: 50px 0;
}

.spotter {
    display: inline-block;
    padding-top: 50px
}

ul {
    list-style-type: none;
}

h2 {
    text-decoration: underline;
}
