<div class="main-div">
    <div class="pokemon-div">
        <h2>Top 10 rearest</h2>
        <app-pokemon-list [pokemons]="filterTopTenSpotted()"></app-pokemon-list>
        <hr>
        <div>
            <h2>Spotted</h2>
            <ul>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
            </ul>
        </div>
    </div>

    <div class="user-info-div">
        <div class="user-info">
            <h2>User info</h2>
            <!-- <p>{{user.displayName}}</p> -->
            <p>Score - Score</p>
            <p>Email - email@gmail.com</p>
        </div>

        
        <hr>
        <div>
            <h2>Missing</h2>
            <ul>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
            </ul>
        </div>
    </div>


    <!-- <div class="user-info">
        <h2>User info</h2>
        <h4>Username</h4>
        
        <hr>

        <div>
            <h2>Missing</h2>
            <ul>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
                <li>Pokémon</li>
            </ul>
        </div>
    </div> -->
</div>