
<div class="main-div">
    <h1>Rankings!</h1>

    <h3>{{users[0].fullname}} - {{users[0].score}}</h3>
    <button (click)="goBack()">go back</button>
    
    <div class="top-ten">
        <h3>TOP 10</h3>
        <ul>
            <li *ngFor="let user of topTen">{{user.fullname}} - {{user.score}}</li>
        </ul>
    </div>
    
    <div class="all-rankings">
        <h3>All Rankings</h3>
        <ul>
            <li *ngFor="let user of userListByScore">{{user.fullname}} - {{user.score}}</li>
        </ul>
    </div>
</div>

