
<div class="main-div">
    <!-- <h1>Rankings!</h1> -->

    <!-- <h3>{{users[0].fullname}} - {{users[0].score}}</h3>     -->
    <div [ngClass]="{'top-ten':isSticky}">
        <!-- <h3>TOP 10</h3> -->
        <ul class="list-group">
            <li *ngFor="let user of users">{{user.fullname}} - {{user.score}}</li>
        </ul>
    </div>
    
    <!-- <div class="all-rankings">
        <h3>All Rankings</h3>
        <ul class="list-group">
            <li  *ngFor="let user of userListByScore">{{user.fullname}} - {{user.score}}</li>
        </ul>
    </div> -->
</div>
