<!-- <div class="main-div"> -->
    <div [ngClass]="{'top-ten':isSticky}" class="main-div"> 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users;index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.displayName}}</td>
                    <td>{{user.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- </div> -->